<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glassmorphism Login Form</title>
  <style>
   
  
  </style>
</head>
<body>
    <app-popup-message [title]="popupTitle" [message]="popupMessage" [isError]="popupIsError" [isVisible]="popupVisible"
  (onClose)="closePopup()">
</app-popup-message>
  <div class="wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Autentificare</h2>
      <div class="input-field">
        <input id="email" formControlName="email" type="email" placeholder="Introduceți adresa de email" />
        <div class="error-message" *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
          <p>Email invalid</p>
        </div>
      </div>
      <div class="input-field">
        <input id="password" formControlName="password" type="password" placeholder="Introduceți parola" />
        <div class="error-message" *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
          <p>Va rugam introduceti parola</p>
        </div>
      </div>
      <button type="submit" class="login-button" [disabled]="loginForm.invalid">Autentificare</button>
    </form>
  </div>
</body>
</html>
