.navbar {
  /* position: fixed;   */
  top: 0;
  left: 0;
  width: 100%;             
  background: #1b2741;
  padding: 0.7rem 0;           
  z-index: 10000;           
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
}

.navbar-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links a {
  color: #facc15;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: white;
  text-shadow: 0 0 6px #facc15;
}

body {
  margin: 0;              
  padding-top: 90px;        
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-link {
  color: white;
  font-weight: 500;
  position: relative;
}

.cart-badge {
  background: #dc2626;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 12px;
  position: absolute;
  top: -8px;
  right: -12px;
  color: white;
}

.user-greeting {
  color: #ffffff;
  font-weight: 600;
  opacity: 0.9;
}
