<div class="product-detail-container" *ngIf="product">

  <div class="detail-wrapper">

    <div class="image-section">
      <img class="main-image" [src]="selectedImage" alt="{{ product.name }}">

      <div class="thumbnail-row">
        <img *ngFor="let img of product.images"
             [src]="'http://localhost:3000' + img.url"
             (click)="changeImage(img.url)"
             [class.active]="selectedImage === 'http://localhost:3000' + img.url">
      </div>
    </div>

    <div class="info-section">
      <h1>{{ product.name }}</h1>
      <p class="price">{{ product.price }} lei</p>
      <p class="category">Categorie: {{ product.category?.name }}</p>
      <p class="description">{{ product.description }}</p>

   <div class="quantity-add">
  <div class="qty-controls">
    <button (click)="changeQty(-1)">➖</button>
    <span>{{ quantity }}</span>
    <button (click)="changeQty(+1)">➕</button>
  </div>

  <button class="add-btn" (click)="addToCart(product)">Adaugă în coș</button>
</div>

 


    </div>

  </div>

</div>