<footer class="footer">
    <div class="footer-container">
      <div class="footer-column logo-column">
        <img src="/logo12.png" alt="Logo" class="footer-logo" />
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
      </div>
  
      <div class="footer-column">
    <a [routerLink]="['/pages-info']" fragment="despre-noi">Despre noi</a>
<a [routerLink]="['/pages-info']" fragment="conditii">Condiții</a>
<a [routerLink]="['/pages-info']" fragment="confidentialitate">Confidențialitate</a>
      </div>
  
      <div class="footer-column">
        <a routerLink="/login">Aplica</a>
        <a routerLink="/login">Cont angajator</a>
      </div>
  
     
    </div>
    <p class="footer-copyright">© 2025 Plynk. Toate drepturile rezervate.</p>
  </footer>
  
