<footer class="footer">
    <div class="footer-container">
      <div class="footer-column logo-column">
        <!-- <img src="https://png.pngtree.com/png-vector/20250105/ourlarge/pngtree-cat-logo-png-image_15057279.png" alt="Logo" class="footer-logo" /> -->
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
      </div>
  
      <div class="footer-column">
    <a [routerLink]="[]" fragment="despre-noi">Despre noi</a>
<a [routerLink]="[]" fragment="conditii">Condiții</a>
<a [routerLink]="[]" fragment="confidentialitate">Confidențialitate</a>
      </div>
  
      <div class="footer-column">
        <a routerLink="/login">Intra in cont</a>
        <a routerLink="/product-list">Produse</a>
      </div>
  
     
    </div>
    <p class="footer-copyright">© 2025. Toate drepturile rezervate.</p>
  </footer>
  
