<div class="popup-overlay" *ngIf="isVisible">
  <div class="popup-container">
    <div class="popup-header" [ngClass]="{ 'error': isError, 'success': !isError }">
      <h3><div class="centered-content">{{ title }}</div></h3>
      <button class="close-button" (click)="closePopup()">✖</button>
    </div>
    <div class="popup-body">
      <p>{{ message }}</p>
    </div>
    <div class="popup-footer">
        <button *ngIf="!confirmMode" (click)="closePopup()">OK</button>
    </div>

   <div *ngIf="confirmMode" class="confirm-buttons">
    <button class="confirm-btn" (click)="confirm.emit()">Confirmă</button>
    <button class="cancel-btn" (click)="closePopup()">Anulează</button>
  </div>
  </div>
</div>
