* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
  background: url("https://img.freepik.com/free-vector/flat-geometric-background_79603-1644.jpg"), #000;
  background-position: center;
  background-size: cover;
}
.wrapper {
  width: 700px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
form h2 {
  grid-column: span 2;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
  
}
.input-field {
  position: relative;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}
.input-field input {
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  color: #fff;
  padding: 0 15px;
}
.input-field input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.input-field input:focus {
  border-color: #fff;
}
.input-field img {
  margin-top: 15px;
  max-width: 100%;
  max-height: 200px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: none;
}

button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
  grid-column: span 2;
  margin-top: 10px;
}
button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}